/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Header */
header {
    background-color: #cfe2ff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header img {
    max-width: 90%;
    height: auto;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;

}

#menu>li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cfe2ff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    font-weight: bold;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: rgb(214, 217, 218);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 92px;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.png") no-repeat center center/cover;
}

/* Portfolio and contact middle page link section*/
#port-contact {
    height: 40px;
    width: 100%;
    background-color: #cfe2ff;
    box-shadow: 0 2px 2px #3a3a3a;

}

#port-contact-list {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

#port-contact-list img {
    width: 75%;
    height: auto;
    object-fit: cover;
}

/* Journey section*/
#journey {
    width: 90%;
    margin: 20px auto;
}

#journey h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}

#serra-photo1-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/image1.JPG") no-repeat center center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#serra-photo2-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/image2.JPG") no-repeat center center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.journey-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container,
.image-container {
    width: 100%;
}

.text-container {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust as needed to leave space between the text and image */
}

.image-container {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* About Us content*/
#about-us {
    padding-top: 95px;
}

#about-art {
    background-color: #cfe2ff;
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #3a3a3a;

}

#about-art img {
    width: 75%;
    height: auto;
    max-height: 100px;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#image-miguel {
    height: 90vw;
    width: 90vw;
    background: url("../images/miguel-photo.jpg") no-repeat center center/cover;
    margin: 20px 20px 20px;
    border-radius: 20%;
    max-width: 300px;
}

#image-debora {
    height: 90vw;
    width: 90vw;
    background: url("../images/debora-photo.jpg") no-repeat center center/cover;
    margin: 20px 20px 20px;
    border-radius: 20%;
    max-width: 300px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 250%;
    width: 100%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        align-items: center;
    }

    header img {
        max-width: 300px;
        height: auto;
    }


    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-left: auto;
        font-size: larger;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        display: inline-block;
        padding-left: 1rem;
        letter-spacing: 2px;
        word-spacing: 10px;
        flex: none;

    }

    #menu>li:last-child {
        margin-right: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 70px;
    }

    /* Portfolio contact middle page*/

    #port-contact {
        height: 70px;
        width: 100%;
        background-color: #cfe2ff;
    }

    /* Journey Content*/
    .journey-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container,
    .image-container {
        width: 50%;
        font-size: x-large;
        /* Adjust as needed to leave space between the text and image */
    }

    .journey-item:nth-child(2) .image-container {
        order: -1;

    }

    #serra-photo1-bg {
        max-width: 400px;
        max-height: 400px;
        margin-left: 10px;
    }

    #serra-photo2-bg {
        max-width: 400px;
        max-height: 400px;
    }

    /* about us Content*/

    #about-art img {
        width: auto;
        height: auto;
        max-height: 100px;
    }

    .about-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-item:nth-child(2) .image-container {
        order: -1;

    }

    #image-miguel {
        margin: 40px 40px 40px;
        max-width: 400px;
        max-height: 400px;
    }

    #image-debora {
        margin: 40px 40px 40px;
        max-width: 400px;
        max-height: 400px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .text-container,
    .image-container {
        width: 48%;
        font-size: x-large;

    }

    /* Nav bar */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-left: auto;
        font-size: x-large;
    }

    /*journey section*/
    #serra-photo1-bg {
        max-width: 600px;
        max-height: 600px;
        margin-left: 15%;
    }

    #serra-photo2-bg {
        max-width: 600px;
        max-height: 600px;
        margin-right: 15%;

    }

    /*About us section */
    #image-miguel {
        margin: 40px 40px 40px;
        max-width: 600px;
        max-height: 600px;
        margin-left: 15%;
    }

    #image-debora {
        margin: 40px 40px 40px;
        max-width: 600px;
        max-height: 600px;
        margin-right: 15%;
    }
}

/* Large devices (laptops and desktops, 11440px and up) */
@media screen and (min-width: 1440px) {

    /*journey section*/
    #serra-photo1-bg {
        margin-left: 10%;

    }

    #serra-photo2-bg {
        margin-right: 10%;


    }

    /*About us section */
    #image-miguel {
        margin-left: 10%;
    }

    #image-debora {

        margin-right: 10%;
    }


}