/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Header */
header {
    background-color: #cfe2ff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header img {
    max-width: 70%;
    height: auto;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #cfe2ff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    font-weight: bold;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}

/* Main content */
main {
    background-color: rgb(214, 217, 218);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 72px;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: column;
}

/* Hero Section */
#hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero-image-small.webp") no-repeat center center/cover;

}

/* Contact Page */
/* Form */
#contact {
    background-image: url("../images/contact-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.extra-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.contact-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/* Portfolio/contact middle page bar section*/
#port-contact {
    height: 30px;
    width: 100%;
    background-color: #cfe2ff;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#port-contact-list {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    align-items: center;
}

#port-contact-list img {
    max-width: 100px;
}


/* Index Serra section*/
#serra {
    width: 90%;
    margin: 20px auto;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 250%;
}

h3 {
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 175%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
}


/* Index Image size control */
.image-size {
    max-width: 300px;
    max-height: 300px;
    max-width: 300px;
    max-height: 300px;
    height: 90vw;
    width: 90vw;
    margin-bottom: 40px;
}

#serra-photo1-bg {
    background: url("../images/image1.webp") no-repeat center center/cover;
    border-radius: 50%;
}

#serra-photo2-bg {
    background: url("../images/image2.webp") no-repeat center center/cover;
    border-radius: 50%;
}

.serra-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container,
.image-container {
    width: 100%;
}

.text-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* About Us content*/
#about-us {
    padding-top: 95px;
}

#about-art {
    background-color: #cfe2ff;
    height: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #3a3a3a;
}

#about-art img {
    width: 60%;
    height: auto;
    max-height: 100px;
    max-width: 300px;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-miguel {
    background: url("../images/miguel-photo.webp") no-repeat center center/cover;
    border-radius: 20%;
}

#image-debora {
    background: url("../images/debora-photo.webp") no-repeat center center/cover;
    border-radius: 20%;
}

/* Portfolio images */

#portfolio {
    padding-top: 50px;
}

#portfolio h2 {
    max-width: 600px;
    margin: 0 auto;
    font-size: 100%;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add background images for each image container */

.image-portfolio {
    height: 90vw;
    width: 90vw;
    margin: 20px 20px 20px;
    border-radius: 20%;
    max-width: 400px;
    max-height: 500px;
}

#singular-photo-bg {
    background: url("../images/singular-photo.webp") no-repeat center center/cover;
}

#couple-photo-bg {
    background: url("../images/couple-photo.webp") no-repeat center center/cover;
}

#family-photo-bg {
    background: url("../images/family-photo.webp") no-repeat center center/cover;
}

#kids-photo-bg {
    background: url("../images/kids-photo.webp") no-repeat center center/cover;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 250%;
    width: 100%;
}

/* Media query: tablets and larger (smaller than 400px) */
@media screen and (max-width: 400px) {

    /* Main content */
    main {
        margin-top: 60px;
    }

}

/* Media query: small screens to better performance (smaller than 600px) */
@media screen and (max-width: 600px) {

    /* Hero image */
    #hero {
        height: 400px;
        width: 100%;
        background: url("../images/hero-image-small.webp") no-repeat center center/cover;
        background-position: 30%;

    }

    /* PortFolio */
    #portfolio h2 {
        max-width: 600px;
        font-size: 150%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        align-items: center;
    }

    header img {
        max-width: 300px;
        height: auto;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-left: auto;
        font-size: larger;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        display: inline-block;
        padding-left: 1rem;
        letter-spacing: 2px;
        word-spacing: 10px;
        flex: none;
    }

    #menu>li:last-child {
        margin-right: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 70px;
    }

    /* Hero image */
    #hero {
        height: 500px;
        width: 100%;
        background: url("../images/hero-image.webp") no-repeat center center/cover;
    }

    /* Contact Page */
    /* forms */

    #contact {
        background-position: center center;
        background-image: url("../images/contact-image.webp");
        background-size: cover;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .contact-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    /* Portfolio-contact middle page*/

    #port-contact {
        height: 70px;
    }

    #port-contact-list img {
        max-width: 200px;
    }


    /* Index Serra Content*/
    .serra-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container,
    .image-container {
        width: 50vh;
        font-size: x-large;
    }

    .serra-item:nth-child(2) .image-container {
        order: -1;
    }

    /* about us Content*/

    #about-art img {
        width: auto;
        height: auto;
        max-height: 100px;
    }

    .about-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-item:nth-child(2) .image-container {
        order: -1;

    }

    /* PortFolio */
    #portfolio h2 {
        max-width: 700px;
        font-size: 150%;
    }


    .portfolio-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .portfolio-item:nth-child(2) .image-container {
        order: -1;

    }

    .portfolio-item:nth-child(4) .image-container {
        order: -1;

    }

    /*Text settings/position*/
    .text-left {
        margin: 0 auto;
    }

    .text-right {
        margin: 0 auto;
    }

    /* Image settings/position*/
    #image-miguel,
    #serra-photo1-bg,
    #singular-photo-bg,
    #family-photo-bg {
        margin: 5%;

    }

    #serra-photo2-bg,
    #image-debora,
    #couple-photo-bg,
    #kids-photo-bg {
        margin: 5%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Hero image */

    #hero {
        height: 500px;
        width: 100%;
        background: url("../images/hero-image.webp") no-repeat center center/cover;
    }

    /* Contact Page */
    /* Form */
    #contact {
        background-image: url("../images/contact-image.webp");
    }

    /* Nav bar */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        margin-left: auto;
        font-size: x-large;
    }

}

/* Large devices (laptops and desktops, 1025px and up) */
@media screen and (min-width: 1025px) {

    .image-size {
        max-width: 600px;
        max-height: 600px;

    }

}

/* Large devices (laptops and desktops, 1440px and up) */
@media screen and (min-width: 1440px) {

    #portfolio h2 {
        max-width: 1100px;
        font-size: 250%;
    }

    /* Image settings/position*/
    #image-miguel,
    #singular-photo-bg,
    #family-photo-bg {
        margin: 15%;

    }

    #image-debora,
    #couple-photo-bg,
    #kids-photo-bg {
        margin: 15%;
    }

    /* Text settings/position*/
    .text-left {
        margin-left: 10%;
    }

    .text-right {
        margin-right: 10%;
    }

}